<div>
    <div className='back-homepage'>
        <button className='btn-sort' onClick=''>Back to homepage</button>

    </div>
    <div className='content'>
        <div className='container'>
            <div className='country_information'>
                <h2 className="no-span">About</h2>
                <div className='content-reverse'>
                    <div className='left-half'>
                        <img alt='' src=''/>
                    </div>
                    <div className='right-half'>
                        <h4>Capital: <span className='sub-font'></span> </h4>
                        <h4>Population: <span className='sub-font'></span> </h4>
                        <h4>People known as: <span className='sub-font'></span> </h4>

                        <h4>Also know as:</h4>
                        <h4>Region: <span className='sub-font'></span></h4>
                        <h4>Sub-region: <span className='sub-font'></span></h4>
                        <h4>Timezone: <span className='sub-font'></span></h4>
                    </div>
                </div>
            </div>
        </div>
        <div className='container'>
            <div className='country_images'>
                <h2 className="no-span">Images</h2>
                <div className='row'>
                    <div className='column'>
                      
                    </div>
                    <div className='column'>
                     
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>